.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ProfPic {
  width: 200px;
  height:auto;
  border-radius: 50%;
}

.userInfoDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  background-color: #CBC4CD;
  flex-wrap: wrap;


}

#newPhotoForm {
  display: flex;
  flex-wrap: wrap;

}

.ImageCard {
  width: 250px;
  height: auto;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.5s;
  z-index: -1;
}

.divImageCard {
  display:flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.ImageCard:hover {
  transform: scale(1.1);

}

.imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #9E9E9E;
  z-index: -2;
}


.button {
  display: flex;
  justify-content: center;
  z-index:1;
}
.button:hover {
  cursor:pointer;
}

.search-image{
  height:200px;
  width:auto;
}

.homeImageDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-content: stretch;
  background-color: black;
}

.homeImage {
  height: 300px;
  width: auto;

}
