.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ProfPic {
  width: 200px;
  height: 150px;
  border-radius: 50%;
}

.userInfoDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F05454;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
}

.userNickname {
  /* color: '#E2DCC8';
  font-variant: 'small-caps'; */
}

#newPhotoForm {
  display: flex;
  flex-wrap: wrap;

}

.ImageCard {
  display: flex;
  height: 400px;
  width: auto;
  align-content: space-between;
  margin: 25px;
  flex-wrap: wrap;
  align-content: space-between;
  transition: transform 0.5s;
  z-index: -1;
}

.divImageCard {
  display:flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.ImageCard:hover {
  transform: scale(1.05);

}

.imageContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #222831;
  z-index: -2;
}


.button {
  display: flex;
  z-index:1;
}
.button:hover {
  cursor:pointer;
}

.search-image{
  height:200px;
  width:auto;
}



.homeImageDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 25px;
  justify-content: center;

}

.homeImage {
  height: 400px;
  width: auto;
  align-content: space-between;
  transition: transform 0.75s;
}

.homeImage:hover {
  transform: scale(1.05);
}

.homeScreen {
  background-color: #222831;
}

.search {
  display: flex;
  /* justify-content: center; */
  background-color: #F05454;
  font-size: 25px;
  font-family: DejaVu Sans Mono;
  justify-content: center;
  /* background-color: #222831; */
  padding: 1%;
}

.searchMatches {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 25px;
  justify-content: center;
  background-color: #222831
}

.h1 {
  display: flex;
  justify-content: center;
  background-color: #F05454;
}

.h1user {
  display: flex;
  justify-content: center;
  background-color: #F05454;
  transition: transform 0.5s;
}

.h1user:hover {
  transform: scale(1.15);
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: #222831;
  padding: 1%;
  height: auto;
}

.navButton {
  width: auto;
  font-size: 30px;
  font-family: DejaVu Sans Mono;
  color: 'white';
  transition: transform 0.5s;
}

.navButton:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.button {
  font-size: 15px;
  font-family: DejaVu Sans Mono;
  color: 'white';
}

.links {
  width: auto;
  font-family: DejaVu Sans Mono;
  color: 'white';
}
