.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#ProfPic {
  width: 200px;
  height: 200px;
  overflow:hidden;
  border-radius: 50%;
  object-fit: cover;
}

.userInfoDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F05454;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
}

.userNickname {
  font-size: 25px;
  color: 'white';
  font-variant: 'small-caps';
}

#newPhotoForm {
  display: flex;
  flex-wrap: wrap;

}

.ImageCard {
  display: flex;
  height: 400px;
  max-width: 400px;

  overflow:hidden;
  object-fit: cover;

  align-content: space-between;
  margin: 15px;
  flex-wrap: wrap;
  align-content: space-between;
  transition: transform 0.5s;
  z-index: 10;
  border: 15px solid white;
  border-bottom-width: 60px;
  box-shadow: 0 0 0 3px gray;
}

/* .ImageCard:hover {
  transform: scale(1.05);
} */


/* .imgDivBackdrop {
  z-index: 99;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background-color: grey;
  opacity: 50%;
  height: 1000px;
  width: 1000px;

} */

.imageModal {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  z-index: 100;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  outline: 1000px solid rgba(0, 0, 0, 0.8);
  /* left: 20%; */
}

.imgModalImg {
 width: 1000px;
 border: 15px solid white;
}

.hidden {
  display: none;
}

.bigDiv {
  z-index: 5;
}

.divImageCard {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  flex-direction: row;
  flex-wrap: wrap;

}

.imageContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #222831;
  z-index: -2;

}

.button {
  display: flex;
  position:relative;
  right:12%;
  bottom:15px;
  z-index: 1;
  border-radius: 100%;
  opacity: 75%;
}

.button:hover {
  cursor: pointer;
}

.search-image {
  padding-top: 2vh;
  width: 200px;
  height: 200px;
  overflow:hidden;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.5s;
}

.search-image:hover {
  transform: scale(1.05);
}

.homeImageDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 25px;
  justify-content: center;
  width: 100vw;
  padding: 0
}

.homeImage {
  height: 375px;
  width: auto;
  align-content: space-between;
  transition: transform 0.75s;
}

.homeImage:hover {
  transform: scale(1.05);
}

.homeScreen {
  background-color: #222831;
  width:100vw;
}

.search {
  display: flex;
  /* justify-content: center; */
  background-color: #F05454;
  font-size: 25px;
  font-family: DejaVu Sans Mono;
  justify-content: center;
  /* background-color: #222831; */
  padding: 1%;
}

.searchMatches {
  color: rgb(226, 220, 200);
  font-variant: 'small-caps';
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 25px;
  justify-content: center;
  background-color: #222831;
  padding: 0;
}



.h1 {
  display: flex;
  justify-content: center;
  background-color: #F05454;
}

.h1user {
  display: flex;
  justify-content: center;
  background-color: #F05454;
  transition: transform 0.5s;
  text-decoration: none;

}

.h1user:hover {
  transform: scale(1.15);
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: #222831;
  padding: 1% 0;
  height: auto;
  width: 100vw;
}

.navButton {
  width: auto;
  font-size: 30px;
  font-family: DejaVu Sans Mono;
  color: 'white';
  transition: transform 0.5s;
  text-decoration: none;
}

.navButton:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.button {
  font-size: 15px;
  font-family: DejaVu Sans Mono;
  color: 'white';
  z-index: 11;
}

.links {
  width: auto;
  font-family: DejaVu Sans Mono;
  color: 'white';
}
